
@import url('https://fonts.googleapis.com/css?family=Bad+Script|Cormorant+Garamond|Parisienne&display=swap');

/* Nav Bar */

nav {

    background-color: #5C5C5C;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    box-shadow: 0 0 25px 0 rgb(185, 185, 185);
    z-index: 9999;
}

.brand {
    display: inline-flex;
    margin: 5px 60px;
    margin-right: 0px;
    font-family: 'Bad Script', cursive;
    font-weight: bolder;
    font-size: 30px;
    color: #ffffff;
    -webkit-animation: text-shadow-pop-left 1.8s both;
    animation: text-shadow-pop-left 1.8s both;
}

nav ul {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    float: right;
    margin-right: 12px;
    margin-top: 20px;
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


nav li {
    display: inline-block;
    width: 40px;
    text-align: center;
    border-left: 1px dotted #B1AEAC;
}

nav a {
    font-family: 'Bad Script', cursive;
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
}

nav li:last-child {
    border-right: 1px dotted #B1AEAC;
}    


nav a:hover {
    color: #838383;

}




/* grid-container */

body{
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
    background-color: black;
}

.main-section{
    background-image: url(../images/rorschach.png);
    background-repeat: no-repeat;
    background-size: 680px;
    background-position: center;
    padding: 70px 0;
    margin-top: 150px;
    text-align: center;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

header{
    width: 100%;
    margin: 15vh auto;
}

header h1{
    font-family: 'Parisienne', cursive;
    margin: 0;
    margin-top: -70px;
    font-size: 100px;
    color: #ffffff;
    font-weight: 500;
}

p {
    margin-top: -10px;
    margin-left: 150px;
    color: #ffffff;
}


/* footer styling */

.imgfooter {
    position: relative;
    opacity: 80%;
    width: 100%;
    overflow: hidden;
    margin-left: 0;
    margin-bottom: 0;
    height: 80px;
}

footer {
    background-color:transparent; /* had a color at #6D534F */ 
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: 0;
    margin-bottom: 0;
    height: 80px;
    /* box-shadow: 0 0 25px 0 rgb(185, 185, 185); */
}

.copyright {
    font-family: 'Times New Roman', Times, serif;
    position: absolute;    
    text-align: right;
    margin-top: -30px;
    margin-left: 15px;
    font-size: 10px;
}

/* Animations */

@-webkit-keyframes slide-in-right {
    0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
    }
    100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    }
}
@keyframes slide-in-right {
    0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
    }
    100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    }
}

@-webkit-keyframes pulsate-fwd {
    0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    }
    50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    }
    100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    }
}

@keyframes pulsate-fwd {
    0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    }
    50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    }
    100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    }
}

@-webkit-keyframes text-shadow-pop-left {
    0% {
    text-shadow: 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    }
    100% {
    text-shadow: -1px 0 #000000, -2px 0 #000000, -3px 0 #000000, -4px 0 #000000, -5px 0 #000000, -6px 0 #000000, -7px 0 #000000, -8px 0 #000000;
    -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
}
@keyframes text-shadow-pop-left {
    0% {
    text-shadow: 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000;
    -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
    text-shadow: -1px 0 #000000, -2px 0 #000000, -3px 0 #000000, -4px 0 #000000, -5px 0 #000000, -6px 0 #000000, -7px 0 #000000, -8px 0 #000000;
    -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
}

@-webkit-keyframes vibrate-2 {
    0% {
    -webkit-transform: translate(0);
            transform: translate(0);
    }
    20% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
    }
    40% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
    }
    60% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
    }
    80% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
    }
    100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    }
}
@keyframes vibrate-2 {
    0% {
    -webkit-transform: translate(0);
            transform: translate(0);
    }
    20% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
    }
    40% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
    }
    60% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
    }
    80% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
    }
    100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    }
}

/* media queries */

@media (max-width:300px) {
    .main-section{
        background-color: #ffffff;
        padding: 70px 0;
        margin-top: 90px;
        text-align: center;
    }
    .brand {
        display: inline-flex;
        margin: 20px 10px;
    }
    
}

