@import url('https://fonts.googleapis.com/css?family=Bad+Script|Cormorant+Garamond|Parisienne&display=swap');




body{
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
}


/* Nav Bar */

nav {

    background-color: #5C5C5C;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    box-shadow: 0 0 25px 0 rgb(185, 185, 185);
    z-index: 9999;
}

.brand {
    display: inline-flex;
    margin: 5px 60px;
    margin-right: 0px;
    font-family: 'Bad Script', cursive;
    font-weight: bolder;
    font-size: 30px;
    color: #ffffff;
    -webkit-animation: text-shadow-pop-left 1.8s both;
    animation: text-shadow-pop-left 1.8s both;
}

nav ul {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    float: right;
    margin-right: 12px;
    margin-top: 20px;
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


nav li {
    display: inline-block;
    width: 40px;
    text-align: center;
    border-left: 1px dotted #B1AEAC;
}

nav a {
    font-family: 'Bad Script', cursive;
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
}

nav li:last-child {
    border-right: 1px dotted #B1AEAC;
}    


nav a:hover {
    color: #838383;

}



/* --------------------
   -------------------- */

body {
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
    display: flex;
    flex-wrap: wrap;
}

.gridbox-container {
    display: grid;
    grid-template-columns: 5% 70% 20% 5%;
    grid-template-rows: 100%;
}

/*------------------------*/

.gridboxcontainer2 {
    display: grid;
    grid-template-columns: 33.333vw 33.333vw 33.333vw;
    grid-template-rows: 50% 50%;
    grid-row-start: 2;
    background-color: blueviolet;
}

section {
    padding: 70px 0;
    margin-top: 50px;
    background: #ffffff;
    text-align: center;
    grid-column-start: 2;
}

/* .section2 {
    padding: 70px 0;
    margin-top: 90px;
    text-align: center;
    grid-column-start: 3;
    background-color: blueviolet;
} */

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.container2 {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    max-width: 1200px;
    margin-top: 100px;
    margin-bottom: 90px;
    padding-bottom: 40px;
    border-bottom-style: solid;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    border-top-style: solid;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;


}

.container4 {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}


header {
    width: 70%;
    margin: 0 auto;
    background-color: black;
    background-size: cover;
    background-position: center;
    border-radius: 15%;
}

.header2 {
    font-family: 'Parisienne', cursive;
    width: 100%;
    margin: 0 auto;
    margin: 0;
    font-size: 20px;
    color: #000000;
}

header h1 {
    font-family: 'Parisienne', cursive;
    margin: 0;
    font-size: 50px;
    color: #ffffff;
}

p {
    color: #ffffff;
    padding: 10px;
}

.pskills {
    text-align: center;
    margin-bottom: -70px;
    font-family: 'Bad Script', cursive;
    font-size: 40px;
    padding: 20px;
    color: black;
}

.meimg {
    margin: 2px;
    border-radius: 360px;
    position: relative;
    height: 50%;
    width: 50%;
}

.skillsimg {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
    width: 40%;
}

.skillsimg:hover {
    -webkit-animation: pulsate-fwd 1s ease-in-out infinite both;
	animation: pulsate-fwd 1s ease-in-out infinite both;
}

.myprojects {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-gap: 30px;
    margin: 30px 15px 110px 15px;
}


/* footer styling */

.imgfooter {
    position: relative;
    opacity: 80%;
    width: 100%;
    overflow: hidden;
    margin-left: 0;
    margin-bottom: 0;
    height: 80px;
}

footer {
    background-color:transparent; /* had a color at #6D534F */ 
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: 0;
    margin-bottom: 0;
    height: 80px;
    /* box-shadow: 0 0 25px 0 rgb(185, 185, 185); */
}

.copyright {
    font-family: 'Times New Roman', Times, serif;
    position: absolute;    
    text-align: right;
    margin-top: -30px;
    margin-left: 15px;
    font-size: 10px;
}


/* Animations */

@-webkit-keyframes slide-in-right {
    0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
    }
    100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    }
}
@keyframes slide-in-right {
    0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
    }
    100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    }
}

@-webkit-keyframes text-shadow-pop-left {
    0% {
    text-shadow: 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    }
    100% {
    text-shadow: -1px 0 #000000, -2px 0 #000000, -3px 0 #000000, -4px 0 #000000, -5px 0 #000000, -6px 0 #000000, -7px 0 #000000, -8px 0 #000000;
    -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
}
@keyframes text-shadow-pop-left {
    0% {
    text-shadow: 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000;
    -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
    text-shadow: -1px 0 #000000, -2px 0 #000000, -3px 0 #000000, -4px 0 #000000, -5px 0 #000000, -6px 0 #000000, -7px 0 #000000, -8px 0 #000000;
    -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
}

@-webkit-keyframes pulsate-fwd {
    0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    }
    50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    }
    100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    }
}

@keyframes pulsate-fwd {
    0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    }
    50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    }
    100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    }
}


/* media queries */

@media (max-width:500px) {
.pskills {
    font-size: 15px;
}    

p {
    color: black;
}

header {
    width: 70%;
    margin: 0 auto;
    background-color: #6d534f;
    border-radius: 15%;
}

header h1 {
    font-family: 'Parisienne', cursive;
    margin: 0;
    font-size: 40px;
    color: #000000;
}

header {
    background-image: none;
    background-color: #ffffff;
}

.myprojects {
    display: grid;
    grid-template-columns: repeat(1, 90%);
    margin: auto;
    margin-bottom: 60px;
}
}