@import url('https://fonts.googleapis.com/css?family=Bad+Script|Cormorant+Garamond|Parisienne&display=swap');




body{
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
}


/* Nav Bar */

nav {

    background-color: #6d534f;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    box-shadow: 0 0 25px 0 rgb(185, 185, 185);
    z-index: 9999;
}

.brand {
    display: inline-flex;
    margin: 5px 60px;
    margin-right: 0px;
    font-family: 'Bad Script', cursive;
    font-weight: bolder;
    font-size: 30px;
    color: #ffffff;
    -webkit-animation: text-shadow-pop-left 1.8s both;
    animation: text-shadow-pop-left 1.8s both;
}

nav ul {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    float: right;
    margin-right: 12px;
    margin-top: 20px;
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


nav li {
    display: inline-block;
    width: 40px;
    text-align: center;
    border-left: 1px dotted #B1AEAC;
}

nav a {
    font-family: 'Bad Script', cursive;
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
}

nav li:last-child {
    border-right: 1px dotted #B1AEAC;
}    


nav a:hover {
    color: bisque;

}

/* --------------------
   -------------------- */

body {
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
}

section{
    padding: 70px 0;
    margin-top: 50px;
    background: #ffffff;
    text-align: center;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

header{
    width: 70%;
    margin: 0 auto;
}

header h1{
    font-family: 'Parisienne', cursive;
    margin: 0;
    font-size: 50px;
    color: #000000;
    font-weight: 500;
}

.meimg {
    margin: 2px;
    border-radius: 360px;
    position: relative;
    height: 50%;
    width: 50%;
}


/* footer styling */

footer * {
    display: inline;
}

img {
    opacity: 80%;
    width: 100%;
    overflow: hidden;
    margin-left: 0;
    margin-bottom: 0;
    height: 80px;
}

footer {
    background-color:transparent; /* had a color at #6D534F */ 
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: 0;
    margin-bottom: 0;
    height: 80px;
    /* box-shadow: 0 0 25px 0 rgb(185, 185, 185); */


}


/* Animations */

@-webkit-keyframes slide-in-right {
    0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
    }
    100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    }
}
@keyframes slide-in-right {
    0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
    }
    100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    }
}

@-webkit-keyframes text-shadow-pop-left {
    0% {
    text-shadow: 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    }
    100% {
    text-shadow: -1px 0 #000000, -2px 0 #000000, -3px 0 #000000, -4px 0 #000000, -5px 0 #000000, -6px 0 #000000, -7px 0 #000000, -8px 0 #000000;
    -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
}
@keyframes text-shadow-pop-left {
    0% {
    text-shadow: 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000;
    -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
    text-shadow: -1px 0 #000000, -2px 0 #000000, -3px 0 #000000, -4px 0 #000000, -5px 0 #000000, -6px 0 #000000, -7px 0 #000000, -8px 0 #000000;
    -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
}

